

.jumbotron {
    background-color: rgb(236, 229, 165);
    color: black;
    margin-top: 50px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(233, 229, 193);
    margin-bottom: 0px;
    margin-top: 20px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.img-thumbnail {
    width: 180px;
    height: 160px;
}

.tab-content {
    padding-top: 5px;
}
